---
const { color } = Astro.props;
const textColor = `text-${color}`;
---

<section class="landing-section mt-24" data-header-color={color}>
    <div class="flex flex-col items-center">
        <h1 class="text-4xl m-4">Finalmente Julio</h1>
        <iframe
            style="border-radius: 12px;"
            src="https://open.spotify.com/embed/playlist/7lnDAqGsMT6v1Id0W046Zo?utm_source=generator"
            width="90%"
            height="352"
            frameborder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
        ></iframe>
    </div>
    <article class="text-justify m-8 md:mx-24 {`${textColor}">
        julio xtm m la he pasado resfriado >:c tambien estoy terminando el bootcamp en el que estoy, paso super rapido el tiempo y ya casi tengo el portafolio listo, no se si deberia empezar a buscar pega o esperar un poquito, de momento tener esta pagina donde escribo weas y practico cosas q m interesan mgta, m queda sacar mas fotos para subir acá y ver como mostrar weas3d pero tdo a su tiempo. <br>
        estoy volviendo a escuchar musica del 2018/2020 aunek no se refleje mucho en la playlist :p y m trae caleta d nostalgia wnnn sobre tdo escuxar a met, unapena q dejaron d hacer musica ooo y tmb estoy jugando el gta como por 3ra vez sldkj de repente m aburro asi q agarro el auto y manejo noma corte ryan gosling. <br>
        en un ratito voya ver la trilogia de batman pq sii c: <br>
        yaa voi a escribir un poco de las fotos slkdj queria poner videos como la otra vez pero esta medio complicado x el tema del espacio q ocupa la web ;c weno la primera foto es d un domingo q sali en la mañana cn la mariel y ella andaba cn el lapiz pa rayar, el dibujo le kedo d panaa yo tmb intente hacer algo pero m kedo feo, cndo la vea denuevo ojala poder hacer algo mejor, la segunda tmb es del mismo dia ns la encontre piola y la ultima es d un dia q comi lasaña no hay + contextodldk :( <br>
        tdo este texto era para decir q la pase bn un dia kdjsfkld hubieron + dias d julio si q la pase bn y hubieran sido + cn gnte q tngo hartas ganas d ver pero la fiebre d mono ta potente :(
    </article>
    <div class="grid grid-cols-1 m-8 gap-4 justify-center md:grid-cols-3">
        <img src="/flor.jpg" alt="flor" class="mx-auto"/>
        <img src="/atao.jpg" alt="kiensoi" class="mx-auto" />
        <img src="/lasaña.jpg" alt="lasaña" class="mx-auto">
    </div>
</section>
