---
const { color } = Astro.props;
const textColor = `text-${color}`;
---

<section class="landing-section mt-24" data-header-color={color}>
    <div class="flex flex-col items-center">
        <h1 class="text-4xl m-4">Finalmente Julio</h1>
        <iframe
            style="border-radius: 12px;"
            src="https://open.spotify.com/embed/playlist/7lnDAqGsMT6v1Id0W046Zo?utm_source=generator"
            width="90%"
            height="352"
            frameborder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
        ></iframe>
    </div>
    <article class="text-justify m-8 md:mx-24 {`${textColor}">
        julio xtm m la he pasado resfriado >:c tambien estoy terminando el bootcamp en el que estoy, paso super rapido el tiempo y ya casi tengo el portafolio listo, no se si deberia empezar a buscar pega o esperar un poquito, de momento tener esta pagina donde escribo weas y practico cosas q m interesan mgta, m queda sacar mas fotos para subir ac치 y ver como mostrar weas3d pero tdo a su tiempo. <br>
        estoy volviendo a escuchar musica del 2018/2020 aunek no se refleje mucho en la playlist :p y m trae caleta d nostalgia wnnn sobre tdo escuxar a met, unapena q dejaron d hacer musica ooo y tmb estoy jugando el gta como por 3ra vez sldkj de repente m aburro asi q agarro el auto y manejo noma corte ryan gosling. <br>
        en un ratito voya ver la trilogia de batman pq sii c: <br>
        yaa voi a escribir un poco de las fotos slkdj queria poner videos como la otra vez pero esta medio complicado x el tema del espacio q ocupa la web ;c weno la primera foto es d un domingo q sali en la ma침ana cn la mariel y ella andaba cn el lapiz pa rayar, el dibujo le kedo d panaa yo tmb intente hacer algo pero m kedo feo, cndo la vea denuevo ojala poder hacer algo mejor, la segunda tmb es del mismo dia ns la encontre piola y la ultima es d un dia q comi lasa침a no hay + contextodldk :( <br>
        tdo este texto era para decir q la pase bn un dia kdjsfkld hubieron + dias d julio si q la pase bn y hubieran sido + cn gnte q tngo hartas ganas d ver pero la fiebre d mono ta potente :(
    </article>
    <div class="grid grid-cols-1 m-8 gap-4 justify-center md:grid-cols-3">
        <img src="https://lh3.googleusercontent.com/pw/AIL4fc9aMbnu8wCVXkfX2Rkq4dshHyHtq_3gDZevNwlbKmdgkn47zXhHzGd7GXufg6rYaPFzJ2qIW1G3PT5KyfPBWNTBlVvV4iB_d8yDYBCXkH1X5qpcZRvpT-JH4FnP0EtdkwmzByj2vMbZBCbc-rvr3J7VfvMSEbASs1boA4caO36VRDShpXja2GKkZB571OG0H-UFYppvvjRre2UDvkM7WGPrlMan3le6YbnKNoPqoNMLeI_9yUjrcWZ9xFNBOw94gQ6KWq88Ss2o1kfFqN3Jt2hDuWasvOj17U5HUrP0XvhXw8w_FU40SWJApqiABlyc2o2qhlflJDLYQKKbV0ugAO0Yajklri6Oc8Bv9S1OkXCvHJjlUweflm6I4lvngNVFhC0msEVZOSXrwUuhCW6FAAIc8eLpETUfNtcHNyLC_1Kyllg1oyFNVPonPYsFpA5w4w8loxGcGnTeMhvUHLX_mr7g86Xo1JyA_Asug1LQHGrnOlds3INpIAAVsXGSuW_d-09PdcXGlSbTOu1ov5LrwzQ9vniUl4qiVMdiFkf3ZQ66Mmyin_Mfyslnma2FLXSCZXPdYoVCbprwUyLXY80fwXjar7mTSv9H1aQwLf-34j4-0EqbmZbA6OruqGjiNKgaJBvDhPZYQlSfLjlQ1PotL1kuGNA2n9s9ioaOnmq1iCzUeJF2Wg1wCCzz4IWFelRetSWRQepj-Pe5tX241hlhMh4mW3aWhKrNsDGrrfNr2PZiYxqUF6d5QL33FtKDvpYMz6pDEvv4hgNeZvQMj7jBhFFqOvn5zOvtB5fpSKGIm13dSNkuZ8rgnGMeX6weu39f9HPDahKmkAFtcWRyWCA79_m00avXOZ5lpl7V_roRQQNdNS_Rv8tweQJGMCSKd-X5hHoE1oc3-f3dJk39pf_xk0YRRWjEubj5lbDTn6nqlrFo6LYVTTDFt5ApMRin90OPXXAmoe--kMmZt2p3Vb29tdVQXbSe65p8QTc=w685-h913-s-no?authuser=2" alt="flor" class="mx-auto"/>
        <img src="https://lh3.googleusercontent.com/pw/AIL4fc-RHKTC-_5MnPExOEzqIE1jUf8wQ7PiXG_YxdiQBDpNyZbOseGNQYmCdIwMBPLrFlHkS184-WqGRnaRuuTZMsS2LF7KNXxMsKHHIaoCGgSlR4attvBZc90x9YAsZ29eIc33QDxzvkBQLSiLv8IEONHrXIP3lFrTvvWB9oKcEWWlsrs1eHaX7zyY3jnAPDebohs8p203rMft0pU9ruzxzkec5IQmUWgVqSkQqJGs5XTT6lyApyi29aD7RrbPVO84MVjJKNAsM7u3Hfx_9gPwU-8WmwrsoFhyfDnjYWkpJ1m96h18R1ZO6Rf40b_CByPFAebW7ea2D3thZRfxDAqadamIBA07jiTsIj38spxiE4uWuaZ3sgqneUui7vx5wlPjfYM1XoOXoLusPiqt1skcpD0apd62pdZnSgJuesaDE5hkFUUjEJTIok9C8PSJydrZ4KAlAFaBTzX6xiabaFLwvYncH0HK60qbzwE_7K7MHsZC2y7JDFBvCtiMn9-_frSU_1OuNR540wWlgigJMfUKDjVgtFu5IJ2Oo4aygn1LsUxbQWqn8P6cklb8Hd7hQDeLzhjExWLP2JP058GdhAcA__yQV3iDI5CXPktYYyLjCzRaOV2RuSiEVamwH87MNbS5E8PgKzfH4Ee9uUYUrrvckzQ8TZQDHPEpbpjT3dWdarP2x9uZobgFFwKe5EZwwgd3AapNTi5_adoIh2m2wOw_XjQZHAydccXh20uN4rfHKS47L0iilleSkamCQ3EDBdom6zJRs0b5YFCVFWDbSnD1RJ0zHVd_UlGw6gUC1h7ed5-Xoeu8Zbz58PDvvduXvHjePNOlFzslDnF2D9mP7lWwwBFLHsfKU7LSeCTdDpsUvyhiwYAqPA8v6MOOrmHcHXiLHlWvWcE_viJsT3Z5w8lp0kJAfJsOtcPabBDFSMRJgaxgBYlzPWiFyMW397hFh08cLQNFc-G2AwilV-KYiJ6GSo3j-vK_l1wIbso=w438-h584-s-no?authuser=2" alt="kiensoi" class="mx-auto" />
        <img src="https://lh3.googleusercontent.com/pw/AIL4fc9zFKqavQztuUfDLXa3CArueHLaMt7lMj2xuzmwPlUmVJy9HbDtkfjypAGq6QU7oOXo4om2mtckLxpkdGqcIsIOGEao_xj-87_leKF641oicMTmpArKK4xAtKCJX59B42eS-c0WRSESs7Ll7RRQjemjk8iytZ0L52D6_k2Jb3qNmtMsoVwp9Th5G523bBaCccpo70ZfHDvxbVP6wDJOnSLXoOsMywH1WYRHXXWkydGKi04q9RuqlDt9Y7-Jb7eKr0Z9t3KTyPXmnyAOzscpQUZTWu0RaX2_Y_jrffWATMQ2b5lvlqfm80AuJ4mRXf2zKvzZD2yc9L_hopbjRhXlZ1Nhu8O_UZ5TLXlR0CkIhh38ZSQapo-DyWLMZ6z7DqkzCXbVpJk5TvUVSWibjTPg1iIEOt1bko2GWH5NOkdiN7rZ0a2RhipbRBN11azPaOw4TbS9Fq1THp8SvqEK5qTFfOPDKwiyKj_kpaFnbJ4vsxQxGM3C6nD1uAztJ9vmRivbQIROIvYnZmC4b0NWG-U7wKKmqxqriVXI0A7AHvR1-K06E0A1x_gELuBH8aAd-ABxnJD7ATHxaOlRY03F2caSXF3lhkEeqtoQO7FM61pWZPjSlXc2l4zJoFNjvIs7uIoMEguauLX7n4d7T7iJOWaK3K00cf0ieNSrYZcNP2kHbUqUYEB7smHErlWDYTCdC1dtu8ZfU4X2IjX7Uq0_JYD6J0b5vAD-4Rezl23ikm-YvuiSiiR7ZoxqR6Aq7otz9WIagSf1zJRbHGl7OhazJZx2P5Uos8dhiha_az5e-sejFnfUaXrFvb9iOFYObE6pVJOBNgVbF2WlFVkj8w7vzP-qErj3c6mrY7lcDi17sCdpj4_OIi7jG3_9yv1ZuTBS6uVX8Vc4Gl728LS-PIOF0JOqP3f71kln0T4F-ZV0MlW1VGPj7SvcSVMQGrGLGj3eG2AePDEuMcU_q3pMZL2WOiEa-U_7jMVO28X_wQ4=w1228-h1636-s-no?authuser=2" alt="lasa침a" class="mx-auto">
    </div>
</section>
