---
import Section from "./Section.astro"
---
<Section 
    title="Holaaa!!!!"
    subtitle ="ns kien soy :("
    color="black">
    <div slot="footer">
        <a
            class="border-[3px] m-2 border-black bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-black px-12 py-2 inline-block hover:bg-rose-700 hover:text-black transition-colors"
            href="http://thesecatsdonotexist.com/"
        >
            no me presiones o.O</a
        >
    </div>
        <video 
            slot="background"
            class="video object-center object-cover h-full w-full"
            autoplay
            muted
            loop
            src="/LikeTheFirstTime.mp4"></video>
</section>